terraform_certified
lab-1/.terraform
lab-1/.terraform.lock.hcl
lab-1/terraform.tfstate
lab-1/terraform.tfstate.backup

lab-2/.terraform
lab-2/.terraform.lock.hcl
lab-2/terraform.tfstate
lab-2/terraform.tfstate.backup

lab-3/.terraform
lab-3/.terraform.lock.hcl
lab-3/terraform.tfstate
lab-3/terraform.tfstate.backup

lab-4/.terraform
lab-4/.terraform.lock.hcl
lab-4/terraform.tfstate
lab-4/terraform.tfstate.backup
