terraform_certified
lab-1/.terraform
lab-1/.terraform.lock.hcl
lab-1/terraform.tfstate
lab-1/terraform.tfstate.backup

lab-2/.terraform
lab-2/.terraform.lock.hcl
lab-2/terraform.tfstate
lab-2/terraform.tfstate.backup

lab-3/.terraform
lab-3/.terraform.lock.hcl
lab-3/terraform.tfstate
lab-3/terraform.tfstate.backup

lab-4/.terraform
lab-4/.terraform.lock.hcl
lab-4/terraform.tfstate
lab-4/terraform.tfstate.backup

lab-5/.terraform
lab-5/.terraform.lock.hcl
lab-5/terraform.tfstate
lab-5/terraform.tfstate.backup

lab-6/.terraform
lab-6/.terraform.lock.hcl
lab-6/terraform.tfstate
lab-6/terraform.tfstate.backup

lab-7/.terraform
lab-7/.terraform.lock.hcl
lab-7/terraform.tfstate
lab-7/terraform.tfstate.backup

lab-8/.terraform
lab-8/.terraform.lock.hcl
lab-8/terraform.tfstate
lab-8/terraform.tfstate.backup

lab-9/.terraform
lab-9/.terraform.lock.hcl
lab-9/terraform.tfstate
lab-9/terraform.tfstate.backup

lab-9/az/.terraform
lab-9/az/.terraform.lock.hcl
lab-9/az/terraform.tfstate
lab-9/az/terraform.tfstate.backup

lab-9/caller-identity/.terraform
lab-9/caller-identity/.terraform.lock.hcl
lab-9/caller-identity/terraform.tfstate
lab-9/caller-identity/terraform.tfstate.backup

lab-9/provider/.terraform
lab-9/provider/.terraform.lock.hcl
lab-9/provider/terraform.tfstate
lab-9/provider/terraform.tfstate.backup

lab-9/subnet/.terraform
lab-9/subnet/.terraform.lock.hcl
lab-9/subnet/terraform.tfstate
lab-9/subnet/terraform.tfstate.backup

lab-9/vpc/.terraform
lab-9/vpc/.terraform.lock.hcl
lab-9/vpc/terraform.tfstate
lab-9/vpc/terraform.tfstate.backup

lab-10/.terraform
lab-10/.terraform.lock.hcl
lab-10/terraform.tfstate
lab-10/terraform.tfstate.backup

